<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
   <title>Autor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Realizado por:</h2>
	<%= author %><p>
	<img src="/toi_reunido.giff">
	<a href="/quizes/question"> Intentelo otra vez </a>
    </body>
</html>
